.input {
  height: 32px;
  background: var(--clr-buttons--background);
  width: 100%;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  overflow: hidden;
  transition: 200ms ease-in-out;
}

.input input {
  height: 100%;
  outline: none;
  border: none;
  background: transparent;
  font-family: Rubik;
  width: 100%;
  padding-left: 8px;
  transition: 200ms ease-in-out;
}
.input:hover {
  box-shadow: 0 0 0 1px var(--clr-border-bottom-color);
}
.input input:hover,
.input input:focus,
.input input:active {
  background: var(--clr-buttons--background-hover);
}

.input input::placeholder {
  font-family: Rubik;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;

  color: #7a858c;
}
.icon {
  display: flex;
  align-items: center;
  cursor: pointer;
  height: 100%;
  padding: 8px;
}
