.card__menu {
  background: #fff;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 0 0 8px 8px;
  box-shadow: var(--box--color-shadow);
  position: relative;
  height: 56px;
}

.card__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 8px;
}

.download__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  min-width: 32px;
  border-radius: 50%;
  background: #f6f5f5;
}

.card__name {
  display: flex;
  align-items: center;
  background: #fff;
  width: 100%;
  transition: 150ms ease-in-out;
  padding-left: 4px;
}

.card__name a{
  text-decoration: none;
  font-weight: normal;
  font-size: 14px;
  color: var(--clr-text-secundary);
}