.head {
  padding-top: 48px;
  margin-top: 56px;
  padding-bottom: 24px;
  z-index: 1;
  width: 100%;
  

}
.head__info{
  display: flex;
  justify-content: space-between;
}
.head__info h2 {
  font-weight: 300;
  font-size: 32px;
  color: var(--color-text);
  margin-bottom: 24px;
}

.paletes__tittle {
  font-weight: normal;
  font-size: 16px;
  color: var(--color-text);
}

.color__grid {
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 4px;

  transition: 100ms linear;
}

.buttons {
  display: flex;
  gap: 8px;
}

.item {
  width: 100%;
}



@media screen and (max-width: 746px) {
  .head__info{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-bottom: 48px;
  }
}
