.container {
  max-width: 1416px;
  margin: 0 auto;
  padding: 0 16px;
  width: 100%;
}
.containerFluid{
  padding: 0 16px;
  width: 100%;
}

@media screen and (max-width: 1088px) {
  .container  {
    max-width: 746px;
    margin: 0 auto;
  }
}
@media screen and (max-width: 746px) {
  .container  {
    max-width: 610px;
    margin: 0 auto;
  }
}
