.buttonsSmall {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 0 16px;
    border-radius: 10px;
    background: #f6f5f5;
    transition: ease-in-out 300ms;
    cursor: pointer;
    position: relative;
    border: none;
    font-family: "Inter", sans-serif;
    font-weight: normal;
    font-size: 14px;

    color: var(--clr-text-secundary);
}
.buttonsSmall svg {
    margin-right: 10px;
}
.buttonsSmall:hover {
    box-shadow: 0 0 0 1px #e7e5e5;
}
