.color__bar {
  width: 100%;
  height: 100%;
  background: red;
  cursor: pointer;
  transition: 200ms ease-in-out;

  display: flex;
  align-items: center;
  justify-content: center;
}

.color__bar:hover {
  width: 200%;
}

.copy {
  opacity: 0;
  transition: 200ms ease-in-out;
  position: absolute;

  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  color:#fff;
}
.color__bar:hover .copy {
  opacity: 1;
  display: flex;
}

.clipboard{
position: absolute;
z-index: -1;
opacity: 0;
font-size: 1px;
user-select: none;
}