.head {
  padding: 48px 0;
  position: relative;
}


.head h1 {
  font-family: Lora;
  font-style: normal;
  font-weight: bold;
  font-size: 38px;
  text-align: center;
  color: var(--color-text);

}

.head p {

  font-family: Rubik;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-top: 14px;
  color: var(--color-text);
}